input[type=range],
input[type=range] + .input-range-thumb {
  cursor: pointer;
}

input[type=range] {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  margin: 0.4rem 0;
  outline: none;
  height: auto;
  position: relative;
}

input[type=range]:active,
input[type=range]:active:not(:invalid),
input[type=range]:focus,
input[type=range]:focus:not(:invalid),
input[type=range]:hover {
  border: none;
  box-shadow: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 0.5rem;
  height: 0.5rem;
}

input[type=range]::-moz-range-track {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 0.5rem;
  height: 0.5rem;
}

input[type=range]::-webkit-slider-thumb {
  cursor: ew-resize;
  -webkit-appearance: none;
  background-color: white;
  border: none;
  border-radius: 50%;
  height: 1.2rem;
  margin: -5px 0 0 0;
  transform-origin: 50% 50%;
  transition: 0.3s;
  width: 1.2rem;
}

input[type=range]::-moz-range-thumb {
  background: white;
  border: none;
  border-radius: 50%;
  height: 1.2rem;
  margin-top: -5px;
  width: 1.2rem;
}
input[type=range]:-moz-focusring {

  outline: 1px solid #fff;
  outline-offset: -1px;
}

input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 1rem 0;
  color: transparent;
  height: 0.5rem;
}

input[type=range]::-ms-fill-lower {
  background: rgba(255, 255, 255, 0.2);
}

input[type=range]::-ms-fill-upper {
  background: rgba(255, 255, 255, 0.2);
}

input[type=range]::-ms-thumb {
  background: white;
  border: none;
  border-radius: 50%;
  height: 1.2rem;
  width: 1.2rem;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  box-shadow: 0 0 10px rgba(81, 203, 238, 1);
}

input[type=range]:focus {
  outline: none;
}

input[type='range']::-moz-focus-outer {
  border: 0;
}

input[type=range]:focus::-ms-fill-lower,
input[type=range]:focus::-ms-fill-upper {
  /*TODO*/
}

input[type=range]:focus::-moz-range-track {
  box-shadow: 0 0 10px rgba(81, 203, 238, 1);
}

input[type=range] + .input-range-thumb {
  background-color: white;
  border: none;
  border-radius: 50%;
  height: 0;
  margin-left: -6px;
  position: absolute;
  top: 10px;
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
  width: 0;
}

input[type=range] + .input-range-thumb .input-range-value {
  color: white;
  display: block;
  font-size: 0;
  text-align: center;
  transform: rotate(45deg);
  width: 2.8rem;
}

input[type=range] + .input-range-thumb.active {
  border-radius: 50% 50% 50% 0;
}

input[type=range] + .input-range-thumb.active .input-range-value {
  color: #fff;
  font-size: 1rem;
  margin-left: -1px;
  margin-top: 0.8rem;
}

.slider-container {
  display: flex;
  cursor: pointer;
}
