@import '../node_modules/reset-css/reset.css';
@import '../assets/icomoon/style.css';
@import './components/Main.css';
@import './components/Icon/index.css';
@import './components/SideMenu/index.css';
@import './components/SideMenu/Checkbox/index.css';
@import './components/SideMenu/Slider/index.css';
@import './components/SideMenu/HistoryList/index.css';
@import './components/TimeStrip/index.css';
@import './components/Modal/index.css';
@import './components/ParamModal/index.css';
@import './components/InfoModal/index.css';
@import './components/EquationView/index.css';
@import './components/ChaosRenderer/index.css';
@import './components/ControlMessage/index.css';

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background: black;
  font-family: "Inconsolata", "Courier New", Courier, monospace;
  overflow: hidden;
}

input,
button,
label {
  font-family: "Inconsolata", "Courier New", Courier, monospace;
}

html,
body,
input,
button,
label {
  color: white;
}

button {
  cursor: pointer;
}

sup {
  vertical-align: super;
  font-size: 0.75rem;
}

p {
  margin: 1rem 0 0 0;
  line-height: 1.4;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

a {
  color: rgb(255, 255, 255, 0.5);
}

a:visited {
  color: rgba(255, 255, 255, 0.5);
}

a:hover {
  color: rgb(255, 255, 255, 0.3);
}

strong {
  font-weight: bold;
}

#main {
  width: 100%;
  height: 100%;
}
